<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_folder/post_style.css">
    <title>{{post.postTitle}} | ByaHero!</title>
</head>
<body data-username="{{loggedInUser}}">
<div class="container">
        <div id="left-panel">
            {{> navBar}}
        </div>
        <div class="middle-panel">
            <div class="top-menu">
                <button type="button" class="return-btn">
                    <img src="/icons/left_arrow.png" alt="return-btn">
                </button>
                <span>Post</span>
            </div>

            <div class="post">
                <div class="post_avatar">
                    <a href="/profile/{{author.username}}"><img src="{{author.profilePic}}" alt="Profile Picture"/></a>
                </div>
                <div class="post_body">
                    <div class="post_header">
                        <div class="post_headerText">
                            <h3><a href="/profile/{{author.username}}">{{author.displayName}}</a></h3>
                            <span class="post-username">{{author.username}}</span>
                            {{#if isLoggedIn}}
                            <div class="dots-container">
                                <div class="dots">⋮</div>
                                <div id="menu-{{post._id}}" class="dots-menu">
                                    {{#unless isAuthor}}
                                        <a href="/report/{{post._id}}">Report</a>
                                    {{/unless}}
                                    {{#if loggedInUser}}
                                    {{#if isAuthor}}
                                    <a href="/editPost/{{post._id}}">Edit</a>
                                    <a href="#" class="delete-post-btn" data-post-id="{{post._id}}">Delete</a>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                        <span class="post-duration">{{post.createdAt}}</span>
                        {{#if post.edited}}
                            <span class="post-edited"> Edited </span>
                        {{/if}}
                        <div class="post_headerDescription">
                            <h2>{{post.postTitle}}</h2>
                            <p>{{post.postContent}}</p>
                            {{#if post.tags}}
                                <div class="post-tags {{post.tags}}-tag">
                                    {{post.tags}}
                                </div>
                            {{/if}}                        
                        </div>
                    </div>

                    {{#if post.postImage}}
                    <img src="{{post.postImage}}" alt="Post Image" class="post-image"/>
                    {{/if}}

                    <div class="post-actions">
                        <div class="vote-container {{#if (isUpvoted post._id upvotedPosts)}}upvoted{{/if}}">
                            <a href="#" class="vote-btn" data-post-id="{{post._id}}">
                                <img src="/icons/upvoted.png" alt="upvote">
                            </a>
                            <span class="vote-count {{#if (isUpvoted post._id upvotedPosts)}}upvoted{{/if}}">{{post.votes}}</span>
                            <a href="#" class="vote-btn" data-post-id="{{post._id}}">
                                <img src="/icons/downvoted.png" alt="downvote">
                            </a>
                        </div>
                        <div class="post-item-container">
                            <a href="#" class="post-item">
                                <img src="/icons/share.png" alt="share">
                            </a>
                            {{#if isLoggedIn}}
                            <a href="#" class="post-item">
                                <img src="/icons/bookmark.png" alt="bookmark">
                            </a>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment-section-container">
                {{#if isLoggedIn}}
                <div class="add-comment-section">
                    <textarea id="comment-input" placeholder="  Add a comment..."></textarea>
                    <button id="comment-btn" class="add-comment-btn">Comment</button>
                </div>
                {{/if}}

                <div class="sort-section">
                    <label for="sort-comments">Sort by:</label>
                    <select class="sort-options" id="sort-comments">
                        <option value="best">Best</option>
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                    </select>
                </div>

                
                <div class="comments-section">
                {{#each post.comments}}
                <div class="comment" data-comment-id="{{_id}}">
                    <div class="user-comment">
                        <strong><a href="/profile/{{username}}">{{username}}</a></strong>
                        <span>{{createdAt}}</span>
                        {{#if ../../isLoggedIn}}
                        <div class="comment-dots-container">
                            <div class="comment-dots">⋮</div>
                            <div class="comment-dots-menu">
                                <a href="#" class="edit-comment-btn" data-comment-id="{{_id}}">Edit</a>
                                <a href="#" class="delete-comment-btn" data-comment-id="{{_id}}">Delete</a>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                    <div class="main-comment">
                        <p>{{content}}</p>
                    </div>
                    <div class="comment-actions">
                        <button class="vote-btn upvote">▲</button>
                        <span class="vote-count">{{votes}}</span>
                        <button class="vote-btn downvote">▼</button>
                        {{#if ../../isLoggedIn}}
                        <button class="action-btn reply-btn" data-comment-id="{{_id}}">Reply</button>
                        {{/if}}
                    </div>

                    {{#if comments.length}}
                    <div class="nested-comments">
                        {{#each comments}}
                        <div class="comment nested-comment" data-comment-id="{{_id}}">
                            <div class="user-comment">
                                <strong><a href="/profile/{{username}}">{{username}}</a></strong>
                                <span>{{createdAt}}</span>
                                {{#if ../../../isLoggedIn}}
                                <div class="comment-dots-container">
                                    <div class="comment-dots">⋮</div>
                                    <div class="comment-dots-menu">
                                        <a href="#" class="edit-comment-btn" data-comment-id="{{_id}}">Edit</a>
                                        <a href="#" class="delete-comment-btn" data-comment-id="{{_id}}">Delete</a>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                            <div class="main-comment">
                                <p>{{content}}</p>
                            </div>
                            <div class="comment-actions">
                                <button class="vote-btn upvote">▲</button>
                                <span class="vote-count">{{votes}}</span>
                                <button class="vote-btn downvote">▼</button>
                                {{#if ../../../isLoggedIn}}
                                <button class="action-btn reply-btn" data-comment-id="{{_id}}">Reply</button>
                                {{/if}}
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            </div>

        </div>
        <div id="right-panel">
            {{> searchPanel}}
        </div>
    </div>
    <script src="/javascript/post.js"></script>
    <script src="/javascript/crudPost.js"></script>
    <script src="/javascript/crudComments.js"></script>
</body>
</html>
